.productCard{
  display:flex;
  flex-direction:column;
  gap:12px;
  transition:all .2s ease;
}
.productCard:hover{
  transform:translateY(-3px);
  border-color:#3a3a44;
}

.productTop{
  display:flex;
  justify-content:space-between;
  align-items:start;
  gap:10px;
}

.productTitle{
  margin:0;
  font-size:18px;
}

.rating{
  font-weight:700;
  background:rgba(255,212,0,.1);
  padding:6px 8px;
  border-radius:10px;
}

.specs{
  display:flex;
  flex-direction:column;
  gap:6px;
  font-size:14px;
}

.productBottom{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
